body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
}
 
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
}
 
header {
  width: 100%;
  background-color: #f8f9fa;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
 
header h1 {
  margin: 0;
}
 
footer {
  width: 100%;
  background-color: #f8f9fa;
  padding: 10px 0;
  text-align: center;
}
 
.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex: 1;
  padding: 20px;
  min-height: 600px;
}
 
.categories-container {
  width: 50%;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
 
.categories-container ul {
  list-style-type: none;
  padding: 0;
}
 
.categories-container li {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}
 
.categories-container form {
  margin-top: 20px;
}
 
.categories-container form div {
  margin-bottom: 10px;
}
 
.blurred {
  filter: blur(5px);
}
 
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
 
.MuiDialog-paper {
  min-width: 600px; /* Increased width */
  min-height: 400px; /* Increased height */
}