/* Container for the ticket list */
.tickets-container {
  padding: 20px;
  background-color: #f7f5f2;
  min-height: 100vh;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

/* Header for the ticket list */
.tickets-container h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #080707;
  font-size: 30px;
}

/* Container for ticket cards */
.ticket-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  margin-bottom: 30px;
}

/* Style for individual ticket cards */
.ticket-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px;
  width: 250px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  margin-bottom: 90px;
}

.ticket-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Title and other text in the ticket card */
.ticket-card h3 {
  margin: 0 0 10px;
  color: #0a0909;
}

.ticket-card p {
  margin: 5px 0;
  color: #070707;
}

/* Button to edit ticket */
.edit-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
}

.edit-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.edit-button:hover:not(:disabled) {
  background-color: #0056b3;
}

/* Modal for editing ticket */
.edit-ticket-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #77c5c5;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  z-index: 1000;
  width: 300px;
  max-width: 90%;
}

/* Header and input fields in the modal */
.edit-ticket-modal h3 {
  margin: 0 0 15px;
  color: #333;
}

.input-field {
  margin-bottom: 15px;
}

.input-field label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.input-field textarea {
  width: 100%;
  height: 100px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 16px;
  color: #333;
}

/* Buttons in the modal */
.update-button,
.cancel-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 10px;
}

.cancel-button {
  background-color: #6c757d;
}

.update-button:hover {
  background-color: #0056b3;
}

.cancel-button:hover {
  background-color: #5a6268;
}
