.homepage-container-agent {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh; 
    max-width: 100vw;
    width: 100vw;
    min-width: 100vw;
    max-height: 103vh;
    overflow-x: hidden;
}

.sign-up-agent {
    margin-right: 5vw;
    color: #000;
    background-color: #ff9900;
}

.header-agent {
    position: relative;
    display: flex;
    justify-content: space-between;
    /* padding: 20px; */
    background-color: white;
    width: 100%;
}

.hero-section-agent {
    flex: 1;
    margin-top: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 40px; */
    background-color: #f8f9fa;
    position: relative;
    width: 100vw;
    max-width: 100vw;
    z-index: 1;
}

.hero-text-agent {
    flex: 1;
}

.hero-text-agent h1 {
    font-size: 42px;
    color: #000000;
}

.hero-text-agent h3 {
    font-size: 24px;
    color:#ff9900;
}

.hero-text-agent p {
    font-size: 16px;
    color: #070707;
    margin: 20px 0;
}

.get-started-button-agent {
    background-color: #ff9900;
    color: white;
    /* padding: 10px 20px; */
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
}

.hero-image-agent {
    flex: 1;
    display: flex;
    justify-content: center;
    height: 300px;
    width: 350px;
}

.hero-image-agent img {
    max-width: 100%;
    height: auto;
}

.auth-buttons-agent button {
    margin-left: 10px;
    /* padding: 10px 20px; */
    border: none;
    background-color: #ff9900;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.footer-agent {
    background-color: #f1f1f1;
    text-align: center;
}

.footer-links-agent a {
    margin: 0 10px;
    text-decoration: none;
    color: #007bff;
}

.modal-agent {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content-agent {
    background: white;
    padding: 30px;
    border-radius: 8px;
    width: 400px;
    text-align: center;
}

.close-agent {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

input-agent[type="text"],
input-agent[type="email"],
input-agent[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.submit-button-agent {
    background-color: rgb(235, 137, 18);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.features-section-agent {
    background-color: #f9fafc;
    text-align: center;
    overflow: hidden;
    margin-bottom: 30px;
}

.features-title-agent {
    font-size: 25px;
    color: #222;
    margin-bottom: 30px;
    text-align: center;
}



.features-grid-agent {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around; 
    gap: 10px;
    width: 100vw;
    padding-right: 100px; 
}

.feature-card-agent {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, border-color 0.3s;
    cursor: pointer;
    border: 2px solid transparent;
    flex: 1 1 350px;
    max-width: 350px;
    /* padding: 0 10px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feature-card-agent:hover {
    transform: translateY(-10px);
    border-color: rgb(235, 137, 18);
}

.feature-title-agent {
    /* padding: 10px; */
    font-size: 20px;
    color: #333;
    margin-bottom: 15px;

}

.feature-description-agent {
    /* padding: 10px; */
    font-size: 16px;
    color: #555;
    line-height: 1.6;
    text-align: justify;
    width: fit-content;
    margin: 1vw;
}
