.homepage-container {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 117vh;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background-color: #f8f9fa;
  }
  
  .hero-text {
    flex: 1;
  }
  
  .hero-text h1 {
    font-size: 48px;
    color: #000000;
  }
  
  .hero-text h3 {
    font-size: 24px;
    color: #007bff;
  }
  
  .hero-text p {
    font-size: 16px;
    color: #070707;
    margin: 20px 0;
  }
  
  .get-started-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
  }
  
  .hero-image {
    flex: 1;
    display: flex;
    justify-content: center;
    height: 500px;
    width: 350px;
  }
  
  .hero-image img {
    max-width: 100%;
    height: auto;
  }
  
  .auth-buttons button {
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .footer {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
  }
  
  .footer-links a {
    margin: 0 10px;
    text-decoration: none;
    color: #007bff;
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background: white;
    padding: 30px;
    border-radius: 8px;
    width: 400px;
    text-align: center;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .submit-button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  